@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600;700&family=Epilogue:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;
*{
    font-family: 'Open Sans', sans-serif;
}

body{
    @apply bg-dark;
}

[x-cloak]{
    display: none !important;
}

body:after {
    background-image: url("https://files.facepunch.com/garry/1b1011b1/test.png?1=");
    content: " ";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    pointer-events: none;
    opacity: .6;
}

html{
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', cursive;
}

.link a, .link{
    font-family: 'Bebas Neue', cursive;
}

.router-link-active, .router-link-exact-active{
    @apply text-rust;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-body p{
    @apply text-white/70 mb-1;
}

.main-body ul{
    @apply text-white/70 list-disc ml-8 mt-3;
}

.main-body ul li{
    @apply mb-1;
}

.main-body h2, .main-body h3, .main-body h4, .main-body h5{
    @apply text-white mb-3;
}
.main-body h2 {
    @apply text-5xl mt-6;
}
.main-body h3 {
    @apply text-3xl mt-6;
}

.main-body span{
    @apply text-rust font-semibold;
}

.main-body a{
    @apply text-rust underline hover:text-rust-green;
}

.terms-of-service p{
    @apply text-gray-200 mb-4 text-sm;
}

.terms-of-service h2{
    @apply text-white text-2xl mb-2;
}

.blog ul, .blog ol{
    margin-left: 30px;
    list-style-type: disc;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
}

.blog ul li, .blog ol li{
    margin: 10px 0px;
    color: #dcdcdc;
    font-family: 'Inter', sans-serif;
}

.blog p{
    @apply mb-4 leading-8;
    font-family: 'Inter', sans-serif;
    color: #dcdcdc;
}

.blog  a {
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
    @apply text-rust;
}

.blog img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.blog h1, .blog h2, .blog h3, .blog h4, .blog h5, .blog h6{
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
    @apply mb-3;
}

.blog h2{
    @apply text-3xl;
}
.blog h3{
    @apply text-2xl;
}
.blog h4{
    @apply text-xl;
}

.blog-title{
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.code p, .code p code{
    @apply text-gray-300;
}

.blog .code{
    @apply p-5 bg-dark text-gray-300 rounded-lg mb-4 w-full break-words;
}
.blog .code span{
    @apply text-rust;
}

.blog .step_links {
    @apply flex flex-col list-disc;
}